.bordetr
{
  height: 90vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.shapeh1 {
  width: 150px;
  height: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #111f4d;
  text-align: center;
  animation: t-stretch 1.5s linear 0.5s infinite forwards;
}
@keyframes t-stretch {
  0% {
    letter-spacing: 0px;
  }
  10% {
    letter-spacing: 2px;
  }
  25% {
    letter-spacing: 4px;
  }
  50% {
    letter-spacing: 2px;
  }
  75% {
    letter-spacing: 4px;
  }
  90% {
    letter-spacing: 3px;
  }
  100% {
    letter-spacing: 0px;
  }
}
.shapediv {
  width: 150px;
  height: 210px;


}
.shapesvg {
  margin-left: 30px;
  width: 90px;
  height: 180px;
}
.t {
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}
#s1 {
  animation-delay: -4s;
}
#s2 {
  animation-delay: -3.5s;
}
#s3 {
  animation-delay: -3s;
}
#s4 {
  animation-delay: -2.5s;
}
#s5 {
  animation-delay: -2s;
}
#s6 {
  animation-delay: -1.5s;
}
#s7 {
  animation-delay: -1s;
}
#s8 {
  animation-delay: -0.5s;
}
.sMove {
  animation: s-turn 8s linear infinite forwards;
}
@keyframes s-turn {
  0% {
  }
  50% {
    transform: rotateX(1turn);
  }
  100% {
  }
}
