
.container-loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.spinner {
	position: relative;
	width: 20rem;
	height: 20rem;
}

.spinner::before {
	z-index: 1;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8.6956521739rem;
	height: 8.6956521739rem;
	background: #000;
	border-radius: 50%;
}

.spinner .cube {
	position: absolute;
	width: 10rem;
	height: 10rem;
	overflow: hidden;
}

.spinner .cube::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.1;
}

.spinner .cube:nth-child(1) {
	top: 0;
	left: 0;
}

.spinner .cube:nth-child(1)::before {
	top: 50%;
	left: 50%;
	background: #4185f3;
	animation: animateCube1 4s ease-out infinite normal;
}

.spinner .cube:nth-child(2) {
	top: 0;
	right: 0;
}

.spinner .cube:nth-child(2)::before {
	top: 50%;
	right: 50%;
	background: #33a753;
	animation: animateCube2 4s ease-out infinite normal;
}

.spinner .cube:nth-child(3) {
	bottom: 0;
	right: 0;
}

.spinner .cube:nth-child(3)::before {
	bottom: 50%;
	right: 50%;
	background: #fabb04;
	animation: animateCube3 4s ease-out infinite normal;
}

.spinner .cube:nth-child(4) {
	bottom: 0;
	left: 0;
}

.spinner .cube:nth-child(4)::before {
	bottom: 50%;
	left: 50%;
	background: #e94234;
	animation: animateCube4 4s linear infinite normal;
}

.spinner .text-container {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.spinner .letters {
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	animation: slideLetters 8s ease-in infinite;
}

.spinner .letters span {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 2em;
	color: #fff;
}

.loading-text {
	color:black;
    font-size: large;
    font-weight: 500;
	transform: translateY(-2rem);
	letter-spacing: 6px;
	opacity: 0.2;
	animation: blinkText 1s ease-out infinite alternate;
}

@keyframes animateCube1 {
	0% {
		opacity: 0.1;
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animateCube2 {
	0% {
		opacity: 0.1;
	}
	25% {
		opacity: 0.1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animateCube3 {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animateCube4 {
	0% {
		opacity: 0.1;
	}
	75% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideLetters {
	0% {
		transform: translateY(0);
	}
	10.5% {
		transform: translateY(0);
	}
	12.5% {
		transform: translateY(-40px);
	}
	23% {
		transform: translateY(-40px);
	}
	25% {
		transform: translateY(-80px);
	}
	35% {
		transform: translateY(-80px);
	}
	37.5% {
		transform: translateY(-120px);
	}
	47.5% {
		transform: translateY(-120px);
	}
	50% {
		transform: translateY(-160px);
	}
	60% {
		transform: translateY(-160px);
	}
	62.5% {
		transform: translateY(-200px);
	}
	72.5% {
		transform: translateY(-200px);
	}
	75% {
		transform: translateY(-240px);
	}
	85% {
		transform: translateY(-240px);
	}
	87.5% {
		transform: translateY(-280px);
	}
	100% {
		transform: translateY(-280px);
	}
}

@keyframes blinkText {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 0.75;
	}
}
