.Card-list {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  height: 39vh;
}

#servicecard {
  height: 45vh;
}

.bus {
  display: flex;
  margin: 5px;
}
.bus_data {
  margin: 15px;
}

.ShopsPic {
  margin: 10px;

  border-radius: 9px;
  height: 35vh;
}
.serviceImg {
  margin-top: 20px;
}
.line {
  margin:5px ;
  border: 1px solid #e8e9eb;
}

.button11 {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 15px 89px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.Data_pro {
  margin: 10px;
}

.button21 {
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 10px 40px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: #28a745;
}
.button2 {
  background-color: #d79209;
}

.Name {
  font-weight: 500;
}
.red {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 5px;
  cursor: pointer;
  width: 130px;
  background-color: red;
  margin-bottom: 5px;
}

.MobNo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 5px;
  cursor: pointer;
  width: 130px;
  background-color: #d79209;
}

.Service1 {
  padding: 5px;
  cursor: default;
}

.Schedulebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Servicebutton {
  margin: 50px;
  font-size: large;
  font-weight: 500;
  color: #000;
  border-radius: 5px;
  width: auto;
  padding: 5px;
  cursor: pointer;
}


.butnc
{
  background-color: #d79209;
  margin: 15px;
}

.phone-number-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.phone-link {
  text-decoration: none;
  color: inherit; /* Use the inherited color of the text */
  display: flex;
  align-items: center;
}

.phone-icon {
  margin-right: 8px; /* Space between icon and text */
  font-size: 20px; /* Adjust the size of the icon */
}

.mobile-no {
  font-size: 16px; /* Adjust the size of the phone number */
}

.phone-link:hover .phone-icon, .phone-link:hover .mobile-no {
  color: #007bff; /* Change color on hover */
}
