.Card-list {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 35vh;
}

#servicecard {
  height: 45vh;
}

.bus {
  display: flex;
  margin: 5px;
}
.bus_data {
  margin: 15px;
}

.ShopsPic {
  margin: 10px;

  border-radius: 9px;
  height: 35vh;
}
.serviceImg {
  margin-top: 20px;
}
.line {
  margin-bottom: 15px;
  border: 1px solid #e8e9eb;
}

.button11 {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 15px 89px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.Data_pro {
  margin: 10px;
}

.button21 {
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 10px 40px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: -20px;
  background-color: #28a745;
}
.button2 {
  background-color: #d79209;
}

.Name {
  font-weight: 500;
}
.red {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 5px;
  cursor: pointer;
  width: 130px;
  background-color: red;
  margin-bottom: 5px;
}

.MobNo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 5px;
  cursor: pointer;
  width: 130px;
  background-color: #d79209;
}

.Service1 {
  padding: 5px;
  cursor: default;
}

.Schedulebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pro_Data {
  margin: 50px;
  font-size: large;
  font-weight: 500;
  color: #000;
  border-radius: 5px;
  width: auto;
  padding: 5px;
  cursor: pointer;
}
