body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../Img/FoodBack.png");
  background-repeat: no-repeat;

}

.landing_Center
{
  display: flex;
}
img {
  width: auto;
  height: 60%;
}
.wrap {
  margin-right: 50px;
  width: 90vh;
  height: auto;
  display: flex;
  flex-wrap: wrap;

}

.Text_Header1 {
  font-size: 3rem;
}

.Text_Para {
  margin: 10px;
}

.btn {
  color: black;
  border-radius: 5px;
  width: auto;
  padding: 15px 89px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
}

.btn1 {
  background-color: #fdd78c;
  margin: 9px;
}

.btn2 {
  background-color: #fff;
  border: 1px solid #fdd78c;
}

.btn:hover {
  background-color: #FFB82E;
}

.btnU {
  text-transform: uppercase;
}

.searchcontainer
{
  width: 350px;
}
.searchcontainer#search-bar{
  margin: 0 auto;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d79209;
  outline: none;
  &:focus{
    border: 1px solid #FFB82E;
    transition: 0.35s ease;

    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }
.Text_Para
{
  color: #5e6e82;


}

@media (max-width: 840px) {
 .container
 {
  background-image: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 img {
  width: auto;
  height: 40%;
}

.wrap
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
}


@media (max-width: 840px) {
  .container
  {
   background-image: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
  }
 
  img {
   width: auto;
   height: 40%;
 }
 
 .wrap
 {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
 }
 }