
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 20px auto;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}


.Link_BTN
{
  background-color:#E0A658 ;
  padding: 20px 10px;
}
