body
{
  margin: 0;
  padding: 0;
}
.container {
  height: 50vh;
  word-wrap: normal;
}

.btn {
  color: white;
  border-radius: 5px;
  background-color: green;
  width: auto;
  padding: 15px 29px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #006400;
}

.btnU {
  margin-top: 10px;
  text-transform: uppercase;
}
.btnL {
  margin-top: 10px;
  text-transform: capitalize;
}
.btnC {
  display: flex;
  justify-content: center;
}

.button {
  padding: 13px 56px;
}



.WordCenter {
  display: flex;
  justify-content: center;
}

.title
{
  display: flex;
  justify-content: center;
}
.wrapper {
  width: auto;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.h1 {
  font-size: 42px;
  transition: all ease-in-out 0.3s;
  color: #000;
}



.ticket_info {
  width: 600px;
  height: 120px;
}

.ticket_block {
  display: flex;
  justify-content: center;
  background-color: #ffff;
 margin-top: 50px;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px 3px rgba(27, 39, 61, 0.1);
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 450px;
  height: 250px;
  padding: 10px;
}


.selction {
  padding: 14px 20px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  font-weight: 600;
  border: green 1px solid;
}

.selction:focus {
  border: green 1px solid;
  box-shadow:0 0 8px 0 green;
  font-weight: 600;
  outline: none;
}

option {
  font-weight: 600;
  scrollbar-width: auto;
  padding: 20px;
  border-radius: 0px;
  
}
option:checked { color: #006400 }

.build_img {
  background-image: url("../Img/BuildingsImg.png");

  margin: 50px;
  overflow: hidden;
  height: 90px;
  width: auto;
}

input[type=text]{
  outline: none;
  border: green 1px solid;
  font-weight: 600;
  color: #000;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  padding: 14px 20px;
  
}

input::placeholder {
  font-weight: 600;
}
input[type=text]:focus{
  border-color:green;
  box-shadow:0 0 8px 0 green;
}

marquee {
  margin-top: 20px;
}
