* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

 #navbar {

  background-color: white;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 10;
  color: black;
  width: 100vw;
  border-radius: 10px;  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* line-height: 60px; */

 }

 .nav-wrapper
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-wrapper ul li{
  display: inline-block;
  list-style: none;
  margin: 15px 30px;

 
}

.logo
{
  border-bottom: none;
  text-decoration: none;
  text-transform: uppercase;
}

.logo_Link:link, .logo_Link:visited {
  color: black;
  text-decoration: none;
}

.logo_Link:hover, .logo_Link:active {
 transition: all ease-in-out 5ms;
}


.Link{
   text-decoration: none;
  text-transform: uppercase;

}

.Link:link, .Link:visited {
  color: black;
  text-decoration: none;
}

.Link:hover, .Link:active {
  color: #FFB82E;

 transition: all ease-in-out 5ms;
}

/* submenu style */
.submenu{
  position: absolute;
  width: 200px;
  background-color:#ffff;
  border-radius: 10px;  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: -50px;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
  visibility: hidden;
  }

 ul li:hover .submenu{
  z-index: 99;
visibility: visible;
  opacity: 1;
  margin-top: 0;
  }




