@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.Shop_body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f8fa;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.Shop_container {
  max-width: 700px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  margin: 10px;
}

.Shop_container .title1 {
  padding: 25px;
  background: linear-gradient(to right, #d1913c, #ffd194);
}

.Shop_container .title1 p {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: #ffff;
}

.Shop_container .title1 p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: linear-gradient(to right, #f37a65, #d64141);
}

.user_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}
.user_details .Bussniess_box {
  width: calc(100%);
  margin: 0 0 12px 0;
}
.user_details .input_box {
  width: calc(100% / 2 - 20px);
  margin: 0 0 12px 0;
}

.input_box label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.input_box label::after {
  content: " *";
  color: red;
}
.GST {
  border: none;
  outline: none;
}
.input_box .GST::after {
  content: "(Optional)";
  color: #e8e9eb;
  font-size: 12px;
}
.Bussniess_box {
  font-weight: 500;
}

.Bussniess_box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: "Poppins", sans-serif;
  transition: all 120ms ease-out 0s;
}
.input_box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: "Poppins", sans-serif;
  transition: all 120ms ease-out 0s;
}


.input_box input:focus {
  background-color: #fff;
}
.Bussniess_box input:focus {
  background-color: #fff;
}

.Bussniess_box input:focus,
.Bussniess_box input:valid {
  box-shadow: 0px 0px 0px 2px #ffb82e;
}

.Owner_Info {
  font-size: 25px;
  font-weight: 500;
  border-bottom: #e8e9eb 1px solid;
}

.select {
  border: 1px solid #e8e9eb;
  padding: 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: "Poppins", sans-serif;
  transition: all 120ms ease-out 0s;
}

.select option {
  font-weight: 500;
}

.reg_btn {
  height: 45px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.Submit {
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 15px 89px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  background-color: red;
}

.Clear {
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 15px 89px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  background-color: #28a745;
}

.checkboxes__row input
{
  margin: 10px;
}

.checkboxes__row label
{
  font-weight: 600;
  padding: 5px 20px;
}

.term_condition  label
{
  font-weight: 600;
  padding: 15px 20px;
}
.term_condition  input
{
  margin: 10px;
}


@media screen and (max-width: 584px) {
  .user_details {
    max-height: 340px;
    overflow-y: scroll;
  }

  .user_details::-webkit-scrollbar {
    width: 0;
  }

  .user_details .input_box {
    width: 100%;
  }

  .gender .category {
    width: 100%;
  }
}

@media screen and (max-width: 419px) {
  .gender .category {
    flex-direction: column;
  }
}



.Img_box input {
  margin: 10px;
}

.Img_title {
  font-weight: 500;
}
