
.TitleContainer
{
  margin-top: 50px;
  height: 40vh;
  background-color: #0B1727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapTitle
{
  color: white;
   font-size: 1.9rem;
  font-weight: 500;
   flex-wrap: wrap;
}

.btn21
{
  background-color: #FFB82E;
}



.gif
{
 background: url("../Img//local_Business/BuildingsImg.png") no-repeat scroll center 0;
 width: 100%;
 height: 266px;;
 background-position: center;
 background-size: cover;


}
.bicycle
{
 margin-top: 150px;
}

.car
{
 height: 140px;
 margin-top: -39px;
}
.link
{
  text-decoration: none;
}